.userButton {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.userButton img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  object-fit: cover;
}

.userButton .arrow {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.userOptions {
  position: absolute;
  right: 0;
  top: 120%;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  font-size: small;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.172);
}

.userOption {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
}

.userOption:hover {
  background-color: #f1f1f1;
  color: gray;
}

.loginLink {
  font-size: 18px;
  padding: 16px;
  border-radius: 32px;
}

.loginLink:hover {
  background-color: #f1f1f1;
}

@media (max-width: 475px) {
  .userButton {
    display: none;
  }
}